{% extends 'base.html' %}
{% block new %}

        <div class="content">
            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">share your google storage</h4>
                                <p class="category">Earn Coins</p>
                            </div>
                            <div class="content">
                                just give access to your drive and earn coins
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

 